<div class=" bg-[#2c3e50] p-10">
    <div class="flex flex-row justify-between items-center text-white p-10">
        <div class="text-center">
            <h1 class="font-bold text-2xl py-1">LOCATION</h1>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243 </p>
        </div>
        <div class="text-center">
            <h1 class="font-bold text-2xl py-1">AROUND THE WEB</h1>
           <div class="icons">
            <i class="fa-brands fa-facebook mx-1 border-white border p-2 rounded-full"></i>
            <i class="fa-brands fa-twitter mx-1  border-white border p-2 rounded-full"></i>
            <i class="fa-brands fa-linkedin-in mx-1  border-white border p-2 rounded-full"></i>
            <i class="fa-solid fa-globe mx-1  border-white border p-2 rounded-full"></i>
           </div>
        </div>
        <div class="text-center">
            <h1 class="font-bold text-2xl py-1">ABOUT FREELANCER</h1>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
</div>
<div class="bg-[#1e262e] text-center py-5 text-white">
    <p>Copyright © Your Website 2021</p>
</div>