
    <div class=" w-100 bg-[#1abc9c] flex flex-col py-5">
        <div>
            <img src="../../assets/images/avataaars.svg" class=" m-auto w-1/4" alt="">
        </div>  
            <h1 class="uppercase font-bold text-white text-3xl pt-5 m-auto">start framework</h1>

      <div class="inline-flex items-center justify-center w-full">
        <hr class="w-64 h-2 my-8 bg-white">
        <span class="absolute  font-medium  -translate-x-1/2 bg-[#1abc9c] left-1/2 text-white px-4"><i class="fa-solid fa-star"></i></span>
    </div>
    <div class="m-auto text-white">Graphic Artist - Web Designer - Illustrator</div>
      </div>
<router-outlet></router-outlet>
